<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Warehouse</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
</head>
<body>
    <h1>Daftar Produk</h1>
    <form action="/add" method="POST">
        <input type="text" name="name" placeholder="Nama" required>
        <input type="text" name="code" placeholder="Code" required>
        <button type="submit">Tambah</button>
    </form>

    <% product.forEach(p => { %>
    <li>
        <%= p.name %> - <%= p.code %>
        <a href="/edit/<%= p.id %>">Edit</a>
        <form action="/delete/<%= p.id %>" method="POST" style="display:inline;">
            <button type="submit">Hapus</button>
        </form>
    </li>
<% }) %>

</body>
</html>
